@import '../src/assets/gems/gem.scss'
@import '../src/assets/gems/rem.scss'

* 
  margin: 0
  padding: 0
  box-sizing: border-box
  color: #FFFDF3

:root 
  --vh: 1vh

@font-face
    src: url("../src/assets/fonts/TomatoGrotesk-SemiBold.woff2") format("woff2"), url("../src/assets/fonts/TomatoGrotesk-SemiBold.woff") format("woff")
    font-family: "TomatoGrotesk-SemiBold"
    font-weight: 600 // SemiBold 

@font-face
    src: url("../src/assets/fonts/TomatoGrotesk-ExtraLightSlanted.woff2") format("woff2"), url("../src/assets/fonts/TomatoGrotesk-ExtraLightSlanted.woff") format("woff")
    font-family: "TomatoGrotesk-ExtraLightSlanted"
    font-weight: 300 //* Regular */

@font-face
    src: url("../src/assets/fonts/TomatoGrotesk-SemiBoldSlanted.woff2") format("woff2"), url("../src/assets/fonts/TomatoGrotesk-SemiBoldSlanted.woff") format("woff")
    font-family: "TomatoGrotesk-SemiBoldSlanted"
    font-weight: 500 //* Medium */

@font-face
    src: url("../src/assets/fonts/PPMigraItalic-Italic.woff2") format("woff2"), url("../src/assets/fonts/PPMigraItalic-Italic.woff") format("woff")
    font-family: "PPMigraItalic-Italic"

@font-face
    src: url("../src/assets/fonts/PPFormulaCondensed-Regular.woff2") format("woff2"), url("../src/assets/fonts/PPFormulaCondensed-Regular.woff") format("woff")
    font-family: "PPFormulaCondensed-Regular"
    font-weight: 400 //* Regular */


html,body 
  font-family: "Roslindale Display Condensed"
  background: #000000
  overflow: hidden


.tabs-container
  position: fixed
  z-index: 1000
  display: flex
  width: 100%
  justify-content: space-between
  gap: gem(20)
  padding: 0 gem(10)
  .label
    font-family: "TomatoGrotesk-SemiBold", sans-serif
    font-size: gem(14)
    color: #000000
    line-height: 1
    text-transform: uppercase

.tabs
  display: flex
  gap: gem(10)
  &:nth-of-type(1)
    gap: 0

.layout-toggle
  width: gem(50)
  height: gem(50)
  border: 2px solid #000
  background: transparent
  color: #000
  font-family: "TomatoGrotesk-SemiBold", sans-serif
  font-size: gem(20)
  font-weight: 600
  cursor: pointer
  transition: all 0.2s ease
  border-radius: gem(8)
  display: flex
  align-items: center
  justify-content: center
  
  &:hover
    background: #000
    color: #fff
    
  &.reversed
    background: #000
    color: #fff
    transform: scale(1.1)

.tab
  // width: gem(50)
  // height: gem(50)
  border: none
  background: transparent
  color: #767272
  font-family: "TomatoGrotesk-SemiBold", sans-serif
  font-size: gem(14)
  font-weight: 600
  cursor: pointer
  transition: all 0.3s ease
  // border-radius: gem(8)
  display: flex
  align-items: center
  justify-content: center
  
  &:hover
    color: #8c4949
    
  &.active
    color: #000
    transform: scale(1.1)
  &.active.reverse-right
    transform: translateY(gem(10)) scale(1.1)

.reverse-right
  transform: translateY(gem(10))
  
.tab-indicator
  font-family: "TomatoGrotesk-SemiBold", sans-serif
  font-size: gem(14)
  color: #000
  line-height: 1
  align-self: center
  padding: 0 gem(8)
  pointer-events: none
  user-select: none

.hero-section
  display: flex
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden
  align-items: center
  gap: gem(138)
  transition: gap 1.2s cubic-bezier(0.54, 0.00, 0.27, 1.00)


.hero-section-frame
  display: flex
  position: relative
  overflow: hidden
  width: gem(600)
  height: gem(710)
  align-items: flex-end
  transform: translateX(0)
  z-index: 1


.hero-section-frame__image
  display: flex
  position: relative
  width: gem(600)
  height: gem(710)
  overflow: hidden
  transition: clip-path 1.5s cubic-bezier(0.54, 0.00, 0.27, 1.00)
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  
  .background-image
    width: gem(600)
    height: 100vh
    
  .mask-image, .mask-image-r
    width: gem(601)
    position: absolute
    top: gem(100)
    left: 0
    object-fit: cover
    object-position: center
    z-index: 2
    transition: transform 1.5s cubic-bezier(0.54, 0.00, 0.27, 1.00)
    transform: translateY(0)
    
  .mask-image-r
    top: 0
    transition: transform 1.5s cubic-bezier(0.54, 0.00, 0.27, 1.00)

.hero-section-frame__image.mask-up
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%)
  .mask-image
    transform: translateY(-100vh)

.hero-section-frame__image.mini 
  height: gem(680)
  position: absolute
  left: 0
  z-index: 10
  transition: clip-path 1.5s cubic-bezier(0.54, 0.00, 0.27, 1.00)
  pointer-events: none
  
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
  
  .mask-image-r
    transform: translateY(6.8rem)
  
  &.show
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    pointer-events: auto
    
    .mask-image-r
      transform: translateY(0)
  
  &.hide
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
    pointer-events: none
    
    .mask-image-r
      transform: translateY(6.8rem)

  
.hero-section-grid
  display: flex
  flex-direction: column
  width: gem(600)
  height: gem(710)
  justify-content: space-between
  transform: translateX(0)
  .hero-section-grid-top, .hero-section-grid-bottom
    display: flex
    flex-direction: row
    gap: gem(20)
    .hero-section-grid-top__item, .hero-section-grid-bottom__item
      display: flex
      width: gem(135)
      border-radius: gem(2)
      overflow: hidden
      position: relative
      .inside-image
        width: gem(135)
        height: gem(160)
        object-fit: cover
        object-position: center
        
.hero-section-grid
  .hero-section-grid-bottom
    .hero-section-grid-bottom__item
      .mask-image-r
        position: absolute
        width: 100%
        transform: translate(0, -100%)
        z-index: 10
      &:nth-of-type(3)
        .inside-image
          width: 1.347rem

.vertical-ticker
  display: flex
  flex-direction: column
  gap: gem(170)
  right: gem(470)
  top: gem(1000)
  position: absolute  
  .vertical-ticker__item
    display: flex
    width: gem(135)
    transform: scale(1.7, 1.7)
    overflow: hidden
    position: relative
    .inside-image
      width: gem(135)
      object-fit: cover
      object-position: center


.text-under-photo
  display: flex
  flex-direction: column
  position: absolute
  width: gem(600)
  height: gem(15)
  align-items: center
  left: 0
  bottom: 0
  gap: gem(10)
  overflow: hidden
  .first-line, .second-line, .third-line, .fourth-line
    display: flex
    width: 100%
    justify-content: space-between
    position: absolute
    padding: 0 0 0 gem(10)
    p
      font-size: gem(14)
      color: #000
      line-height: 1
      font-family: "TomatoGrotesk-SemiBold", sans-serif
.text-inside-grid,.text-inside-grid-second
  display: flex
  position: absolute
  width: gem(600)
  height: gem(710)
  align-items: center
  justify-content: space-between
  pointer-events: none
  p
    font-size: gem(14)
    text-transform: uppercase
    color: #000
    line-height: 1
    font-family: "TomatoGrotesk-SemiBold", sans-serif
  .text-inside-grid__item-center
    width: gem(392)
  

// .text-inside-grid
//   opacity: 0
  
.text-inside-grid-second
  opacity: 1
  display: flex
  width: gem(915)
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end
  transform: translateX(gem(-120))
  &-top
    display: flex
    width: 100% 
    height: gem(160)
    justify-content: space-between
    &-left 
      display: flex
      flex-direction: column
      justify-content: space-between
    &-right
      display: flex
      justify-content: space-between
      position: relative
      p 
        &:nth-of-type(2)
          position: absolute
          transform: translateX(gem(440))
  .text-inside-grid__item-center
    width: gem(241)
    transform: translate(4rem, -0.9rem)
    will-change: transform
    text-align: end


.text-third-slide
  display: flex
  position: absolute
  right: 0
  opacity: 0
  .text-frame
    position: relative
    overflow: hidden
    
    .text-frame-client p, .text-frame-type p
      will-change: transform, opacity
  .text-frame
    display: flex
    flex-direction: column
    position: absolute
    .text-frame-client, .text-frame-type
      display: flex
      width: gem(228)
      justify-content: space-between
    &:nth-of-type(1)
      top: gem(-80)
      right: gem(160)
    &:nth-of-type(2)
      top: gem(133)
      right: gem(-95)
    &:nth-of-type(3)
      top: gem(358)
      right: gem(160)
      
.preloader
  position: fixed
  inset: 0
  z-index: 9999
  background: #FFFDF3
  display: none
  pointer-events: none

.preloader__panel
  position: absolute
  top: 0
  width: 50%
  height: 100%
  background: #c9c9c9
  will-change: transform
  &.left
    left: 0
    transform: translateX(0)
  &.right
    right: 0
    transform: translateX(0)

.hero-section-frame-34
  display: flex
  position: absolute
  right: 0
  top: 50%
  transform: translateY(-50%)
  width: gem(600)
  height: gem(710)
  overflow: hidden
  align-items: flex-end
  pointer-events: none
  z-index: 0

  .hero-section-frame__image
    width: gem(600)
    height: gem(710)
    overflow: hidden
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);    